@mixin ifpopup {
    
#homeLink {
    margin-top: .5rem;
    color: $primary-orange;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $white;
    padding: 1rem 1rem .5rem 1rem;
    border-radius: 5px;
    min-height: 33rem;
    transition: height .5s;

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        h1 {
            span {
                color: $primary-orange;
            }
        }
        img {
            width: 35px;
            cursor: pointer;
            transition: all .3s;

            &:hover {
                opacity: .85;
            }
        }
    }

    p {
        margin-top: 5px;
        font-weight: 500;
    }
}

select {
    width: 100%;
    height: 50px;
    padding: .7rem 0.2rem;
    // margin: .5rem 0;
    border: 2px solid rgb(236, 236, 236);
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    cursor: pointer;
    color: black;
    transition: background-color .3s ease;

    &:hover {
        background-color: rgb(238, 238, 238);
    }
}


.selects {

    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
    // background-color: red;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50px;

    button {
        width: 100%;
        height: 45px;
        background-color: $primary-orange;
        color: $white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color .5s ease;

        &:hover {
            background-color: $primary-orange-hover;
        }
    }
}

@media (max-width: 416px) {
    .box {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    #box {
    //    background-color: red; 
       max-height: 550px;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
}

@mixin navbarlinks {
    color: #fff;
    position: relative;
    cursor: pointer;

    &::after{
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 0;
        height: 4px;
        background-color: $primary-blue;
        transition: all .25s ease;
    }

    &:hover::after{
        width: 100%;
        transition: all .5s;
    }
}

@mixin htmlreset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@mixin loginAndSignup {
    background-color: $white;
    border-radius: 10px;
    padding: 20px;

    #main__heading {
        margin-top: 10px;
        text-align: center;
        font-weight: 600;
        font-size: 1.9rem;

        span {
            color: $primary-orange
        }
    }

    .signup__form {
        text-align: center;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        padding: 0 1%;
        input {
            margin: 15px 0;
            width: 100%;
            height: 50px;
            padding: 0 20px;
            border-radius: 6px;
            border: 1px solid#CACACA;
            font-size: 1rem;
            position: relative;

            &:focus{
                border-bottom-width: 2px;
                outline: none;
            }
        }

        #confirm {
            position: relative;
            .opt {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 15px;
                cursor: pointer;
                color: #9c9c9c;
                background-color: white;
                height: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .input_field_wrapper {
            position: relative;

            p {
                position: absolute;
                bottom: -3px;
                left: 2px;
                font-size: .75rem;
                color: red;
                opacity: 0;
                transition: all .3s;
            }
        }

        button {
            width: 100%;
            height: 45px;
            margin: 15px 0;
            border: none;
            background-color: $primary-orange;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            transition: all .5s;
            font-size: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;


            &:hover {
                background: $primary-orange-hover;
            }

            .loader {
                pointer-events: none;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: 3px solid transparent;
                border-top-color: $white;
                animation: loader .75s ease infinite;
                display: none;
            }

            @keyframes loader {
                0% {
                    transform: rotate(0turn);
                }
                100% {
                    transform: rotate(1turn);
                }
            }
        }

        .button_field_wrapper {
            p {
                font-size: 0.85rem;
                font-weight: 500;
                color: rgb(73, 73, 73);

                a {
                    text-decoration: none;
                    color: rgb(23, 124, 218);

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .divider {
        position: relative;
        width: 100%;
        height: 1px;
        background-color: #8b8b8b;
        margin: 30px 0;
        margin-bottom: 20px;

        &::before {
            content: 'Or Use';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #FFF;
            color: #8b8b8b;
            padding: 0 10px;
        }
    }

    .other__options {
        height: 100%;
        .option__wrapper {
            button {
                margin: 12px 0;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 40px;
                gap: 25%;
                font-size: .85rem;

                i {
                    font-size: 1.3rem;
                    width: 10px;
                }
            }

            #google {
                background-color: #de5246;

                &:hover {
                    background-color: #af4137;
                }

            }

            #facebook {
                background-color: #4267B2;

                &:hover {
                    background-color: #2c4a85;
                }
            }
        }
    }
}

@mixin signup-popup-styles {
    div.signup-popup {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        z-index: 10000;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .5s;
        color: #03314b;
        opacity: 0;
        pointer-events: none;

        .popup-overlay {
            width: 100%;
            height: 100%;
            background-color: none;
            position: absolute;
            z-index: -1;

        }
    
        div.signup-popup-modal {
            width: 475px;
            height: 600px;
            background-color: white;
            transition: all .2s;
            border-radius: 5px;

            .top-section {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 1.5rem 2rem;
                .popup-x {
                    cursor: pointer;
                    color: rgb(41, 41, 41);
                    transition: color .3s;

                    &:hover {
                        color: $primary-orange;
                    }
                }
            }

            .popup-text {
                padding: 2rem 2.5rem 1rem 3rem;

                h1 {
                    font-size: 1.8rem;
                    span {
                        color: $primary-orange;
                    }
                }

                p {
                    font-size: 1.05rem;
                    margin-top: 1.5rem;
                    font-weight: 400;
                }
            }

            .popup-form {
                display: flex;
                width: 100%;
                height: 200px;
                flex-direction: column;
                // justify-content: center;
                padding: 2rem 3rem;

                input {
                    
                    height: 50px;
                    padding: 1rem;
                    border-radius: 5px;
                    border: 2px solid #CACACA;
                    transition: border .2s;
                    color: #3f3f3f;
                    font-weight: 500;

                    &:focus {
                        outline: none;
                        border: 2px solid $primary-orange;
                        // border-bottom-width: 3px;
                    }
                }
                button {
                    height: 50px;
                    padding: .8rem;
                    background-color: $primary-orange;
                    color: $white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 0.95rem;
                    transition: all .3s;

                    &:hover {
                        background-color: $primary-orange-hover;
                    }
                }
                .popup-pwd {
                    margin: 2rem 0;
                }
            }
        }
    }

    @media (max-width: 510px) {
        div#signup-popup {
            display: none !important;
        }
    }
}


@mixin loginAndSignupStyles {
    html {
        scroll-behavior: smooth
    }
    
    *{
        @include htmlreset;
    }
    
    body {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        overflow: hidden;
        // align-items: center;
        // justify-content: center;
    }
    
    .section {
        flex: 1 1 auto;
        width: 100%;
        height: 100%;
    }

    .active-error {
        display: block !important;
    }

    .error {
        color: red;
        text-align: center;
        display: none;
    }
    
    .form {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        position: relative;
    
        div.box {
            max-width: 500px;
            width: fit-content;
            .logo-fav {
                width: 30px;
                margin-bottom: 10px;
            }
    
            h1.prompt {
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 7px;
                opacity: 0.95;
    
                span {
                    font-weight: 600;
    
                    span {
                        color: $primary-orange;
                    }
                }
                
            }
    
            p.desc {
                opacity: 0.5;
                margin: .5rem 0;
                font-weight: 400;
            }
    
            p.label {
                font-size: 0.85rem;
                opacity: 0.8;
            }
    
            input {
                width: 100%;
                border: none;
                padding: .6rem 0;
                border-bottom: 4px solid $primary-orange;
                font-size: .95rem;
    
                &:focus {
                    outline: 0;
                }
            }
    
            input:focus+.underline {
                width: 100%;
            }
    
            .underline {
                position: absolute;
                border-bottom: 4px solid $primary-blue;
                width: 0%;
                left: 0;
                bottom:0;
                z-index: 400000;
                transition: width .5s ease-in-out;
            }
    
            .input-field {
                position: relative;
                height: fit-content;
                margin: 2.5rem 0;
            }
            img {
                width: 100%;
            }
    
            .alternate {
                opacity: .95;
                text-align: center;
    
                a {
                    text-decoration: none;
                    color: $primary-blue-hover;
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            button {
                width: 100%;
                margin: 2rem 0 1rem 0;
                height: 50px;
                border-radius: 4px;
                border: none;
                background-color: $primary-orange;
                color: $white;
                cursor: pointer;
                transition: all .5s ease;
                border: 2px solid $primary-orange;
                font-size: .9rem;
                font-weight: 600;
    
                &:hover {
                    background-color: $white;
                    color: $primary-orange;
                }
            }
        }
    }
    
    .img-section {
        // background-image: url('/assets/images/sebastian-mark-e36JILL-JWk-unsplash.jpg');
        // background-image: url('/assets/images/signup-test.jpg');
        background-image: 
    linear-gradient(rgba(223, 101, 43, 0.25), rgba(223, 101, 43, 0.25)),
    url('/assets/images/signup-test.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    // .tint {
    //     filter: sepia(100%) saturate(200%) brightness(70%) hue-rotate(330deg);
    // }
    
    
    @media (max-width: 1015px) {
        .form {
            flex: 2 .65 auto;
        }
    }
    
    @media (max-width: 741px) {
        .img-section {
            display: none;
        }
        .form {
            padding: 2rem;
            position: relative;
    
            div.box {
                h1.prompt {
                    white-space: nowrap;
                    flex-wrap: wrap;
                 } 
            }
    
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $primary-orange;
                opacity: 0.3;
                top: 0;
                left: 0;
                clip-path: circle(55% at 100% -10%);
                z-index: -501;
            }
        }
    
    }
}

@mixin navbar {
    .navbarmain{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 5%;
        position: fixed;
        background: none;
        width: 100%;
        z-index: 1000;
        left: 50%;
        transform: translateX(-50%);
        transition: background .3s ease;

        // &:hover {
        //     .user-dropdown {
        //         opacity: 1;
        //         top: 100%;
        //     }
        // }

        .user-dropdown {
            pointer-events: none;
            // padding: 1rem;
            background-color: white;
            position: absolute;
            top: 80%;
            right: 0;
            border-radius: 5px 5px 5px 5px;
            height: fit-content;
            width: 10rem;
            opacity: 0;
            transition: all .3s ease;
            // display: flex;
            // align-items: center;
            // justify-content: space-around;
            // flex-direction: column;
            gap: 0;
            margin: 0 !important;
            margin-right: 5% !important;
            overflow: hidden;

            button {
                // border-radius: 5px 5px 5px 5px;
                width: 100%;
                flex: 1 1 auto;
                height: 50px !important;
                margin: 0 !important;
                // padding: 1rem 0;
                cursor: pointer;
                background-color: rgb(252, 252, 252);
                border: none;
                transition: background-color .15s;
                font-size: 0.85rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;

                &:hover {
                    background-color: $primary-orange;
                    color: white;
                }

                &:last-child:hover {
                    background-color: $primary-blue;
                }
            }

            // &::after {
            //     content: '';
            //     position: absolute;
            //     top: -4px;
            //     right:1px;
            //     width: 0;
            //     height: 0;
            //     border-style: solid;
            //     border-width: 0 4.5px 6px 4.5px;
            //     border-color: transparent transparent #ffffff transparent;
            // }

            color: black;

            p {
                font-weight: 500;
            }

            .dropdivide {
                height: 100%;
                width: 1px;
                background-color: black;
                opacity: 0.4;
            }

            .div1, .div2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                height: 100%;
                // row-gap: 10px;

                p {
                    font-size: 1.05rem;
                }


                a {
                    font-size: 0.8rem;
                    color: $primary-bg-blue;
                    padding: 0.1rem;
                    
                    &:hover {
                        color: $primary-orange;
                        text-decoration: underline;
                    }
                }
            }
        }
    
        .nav__logo{
            cursor: pointer;
    
            span{
                color: $primary-orange;
            }
        }
    
        li,a,button{
            font-weight: 500;
            font-size: 16px;
            text-decoration: none;
        }
    
        .nav__links {
            list-style: none;
            position: relative;
    
            li {
                display: inline-block;
                padding: 0px 20px;
    
                .nav__link{
                    @include navbarlinks;
                }
            }
        }
    
        .loginsignup{
            button{
                padding: 9px 17px;
                border-radius: 50px;
                border: none;
                background-color: $primary-blue;
                color: white;
                margin: 0px 20px;
                cursor: pointer;
                transition: all .5s;
    
                &:hover{
                    color: white;
                    background-color: $primary-blue-hover;
                }
            }
    
            .loginlink{
                @include navbarlinks;
            }
        }

        .loggedIn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            cursor: pointer;
            transition: opacity .3s ease;
            // background-color: red;
            margin: -15px 0;
            height: 5rem;

            div {
                display: flex; 
                align-items: center;
                justify-content: center;
                gap: 10px;
                // background-color: blue;

                #email {
                    max-width: 165px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            // background-color: red;

            #angle-down {
                transition: all .2s;
            }

            // padding: 0rem 1rem;
            border-radius: 3px;

            &:hover {
                opacity: 0.8;
                #angle-down {
                    margin-top: 4px;
                }
            }
        }

    
        .hamburger-icons {
            display: none;
        }
    
        .icon {
            font-size: 1.5em;
        }
    }
}

@mixin header-navbar {
    
header.top-nav {
    
    width: 100%;
    max-height: 75px;
    min-height: 65px;
    background-color: $footer-bg;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eff1f6;
    flex: 1 1 auto;

    .nav-wrapper {
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1280px;
        width: 100%;
        background-color: $footer-bg;
        height: 100%;
        // color: #404089;
        padding: 0 2rem;
        color: $white !important;

        img {
            width: 225px;
            height: auto;
            cursor: pointer;
        }

        .right-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            .cart {
                position: relative;
                background-color: none;
                cursor: pointer;
                padding: 0.4rem 0.5rem;

                .fullHeight {
                    height: 400px !important;
                }

                &:hover {
                    background-color: #fef6ec;
                    border-radius: 5px;

                    // .cartDetails {
                    //     height: 400px;
                    // }
                }
                i {
                    padding: 0.4rem;
                    
                    // cursor: pointer;
                    font-size: 1.1rem;
                    transition: all .3s;
                    color: $white;
                }

                .amt {
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 1000;
                    background-color: $primary-orange;
                    border-radius: 50px;
                    min-width: 15px;
                    width: fit-content;
                    padding: 0 .3rem;
                    height: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 0.7rem;
                    font-weight: 600;

                }

                &:hover {
                    background-color: $secondary-bg-blue;
                }
            }
        }

        .user-detail {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 15px;
            cursor: pointer;
            // background-color: red;
            padding: .5rem 1rem;
            border-radius: 7px;
            transition: all .2s ease;
            position: relative;

            .logout {
                background-color: white;
                position: absolute;
                top: 42px;
                
                border-radius: 7px;
                padding: 0.7rem 0;
                width: 100%;
                text-align: center;
                z-index: 100000;
                opacity: 0;
                color: #282a32 !important;
                pointer-events: none;
                border: 2px solid #fef6ec;

                i {
                    color: $primary-orange;
                    margin-right: 10px;
                }

                &:hover {
                    background: #fef6ec;
                color: $primary-orange !important;
                }
            }
            
            &:hover {
                background: $secondary-bg-blue;
                // color: $primary-orange;

                .logout {
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }

    }
}
}

@mixin chatCenter {
    .chatCenter {
        position: absolute;
        right: 25px;
        bottom:25px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    
        button {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: $primary-orange;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .3s ease;
    
            &:hover {
                background-color: $primary-orange-hover;
            }
            
    
            i {
                color: white;
                opacity: 0.85;
                font-size: 1rem;
            }
        }
    
    
    
        .chatCenterChat {
            display: none;
            width: 500px;
            height: 300px;
            background-color: white;
            // position: absolute;
            // bottom: 100%;
            // right: 100%;
            margin-bottom: 10px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    
    
            .cccTitle {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background-color: white;
                height: 50px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                p {
                    margin-left: 20px;
                    margin-top: 10px;
                    font-size: 1.05rem;
                    font-weight: 600;
                    margin-bottom: 10px;
    
                    span {
                        color: $primary-orange;
                    }
                }
            }
    
            .cccChats::-webkit-scrollbar {
                width: 0px;
              }
    
            .cccChats {
                width: 100%;
                height: calc(100% - 50px - 50px);
                // background-color: red;
                // background-color: red;
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                overflow-y: auto;
    
                .message {
                    max-width: 80%;
                    margin: 10px 0;
                    padding: 0.5rem 0.75rem;
                    border-radius: 10px;
                    font-weight: 500;
                    font-size: 0.95rem;
                }
    
                .other {
                    background-color: rgb(231, 231, 231);
                    margin-left: 20px;
                    border-bottom-left-radius: 0px;
                    color: black !important;
                }
                .yours {
                    background-color: $primary-orange;
                    color: white;
                    margin-left: 20px;
                    border-bottom-right-radius: 0px;
                    align-self: flex-end;
                    margin-right: 20px;
                }
            }
    
            .cccInput {
                // border-top: 1px solid rgba(0, 0, 0, 0.1);
                width: 100%;
                height: 50px;
                position: absolute;
                left: 0;
                bottom: 70px;
                border-bottom-left-radius: inherit;
                border-bottom-right-radius: inherit;
                // background-color: red;
                display: flex;
                align-items: center;
                gap: 5px;
    
                input {
                    width: 80%;
                    margin-left: 20px;
                    height: 35px;
                    padding: 0 0.75rem;
                    border: 1.5px solid rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
    
                    &:focus {
                        outline: none;
                    }
                }
    
                button {
                    height: 35px;
                    border-radius: 5px;
                    color: white;
                }
            }
        }
    
        .cccShown {
            display: block !important;
        }
    }
    
}