@mixin navbarlinks {
    color: #fff;
    position: relative;
    cursor: pointer;

    &::after{
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 0;
        height: 4px;
        background-color: $primary-blue;
        transition: all .5s;
    }

    &:hover::after{
        width: 100%;
    }
}

@mixin htmlreset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
