$primary-orange: #DF652B;
$primary-orange-hover: #a34b21;
$primary-blue: #009687;
$primary-blue-hover: #027468;
$primary-blue-light: #07af9e;
$primary-bg-blue: #2D3F4A;
$light-primary-bg-blue: #364a57;
$outline-contrast: #374c58;
$secondary-bg-blue: #293740;
$dark-bg-blue: #26323b;
$mobile-menu-bg: #1b242b;
$footer-bg: #242f38;
$gradient-bg: #1f2830;
$white: #ffffff;
$off-white: #d7dfe6;
$text-one: #7a95a5;
$text-two: #93b1c2;
$text-three: #bdcbd3;
$text-four: #8da3af;
$text-five: #d2dce2;
$text-six: #2e4049;
$swiper-color: #445f70;