@import "_variables";
@import "_mixins";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// HTML RESET + Fonts/Coloring

html {
    scroll-behavior: smooth
}

*{
    @include htmlreset;
}

body{
    overflow-x: hidden;
    background-color: $primary-bg-blue;
    color: white;
}

.navbarmain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    position: absolute;
    background-color: none;
    width: 100%;
    z-index: 1000;

    .nav__logo{
        cursor: pointer;

        span{
            color: $primary-orange;
        }
    }

    li,a,button{
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
    }

    .nav__links {
        list-style: none;
        position: relative;

        li {
            display: inline-block;
            padding: 0px 20px;

            .nav__link{
                @include navbarlinks;
            }
        }
    }

    .loginsignup{
        button{
            padding: 9px 17px;
            border-radius: 50px;
            border: none;
            background-color: $primary-blue;
            color: white;
            margin: 0px 20px;
            cursor: pointer;
            transition: all .5s;

            &:hover{
                color: white;
                background-color: $primary-blue-hover;
            }
        }

        .loginlink{
            @include navbarlinks;
        }
    }
}

.hero__section{
    height: 100vh;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(41, 55, 64, 89%);
        top: 0;
        left: 0;
        clip-path: circle(55% at 100% -10%);
        z-index: -500;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(41, 55, 64, 89%);
        top: 0;
        left: 0;
        clip-path: circle(55% at -10% 100%);
        z-index: -500;
    }
    
    .hero__img {
        #heroviolin {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 600px;
            z-index: -400;
            transition: all .3s;
        }
    }

    .hero__content{
        .hero__text{
            height: 100vh;
            padding: 15px 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 100;
            max-width: 60%;
            position: relative;
            transition: all 1s;

            h1{
                font-size: 2.3rem;
                margin: 100px 0 75px 0;
                transition: all .3s;
            }

            p{
                font-size: 1.3rem;
                transition: all .3s;
                margin: 10px 0 30px 0;
            }
            .hero__btns{
                width: 100%;
                background-color: none;
                display: inline-block;

                button{
                    width: 100%;
                    height: 43px;
                    margin: 10px 0;
                    border-radius: 7px;
                    border: none;
                    color: white;
                    font-size: 1.1rem;
                    cursor: pointer;
                }

                #btn1{
                    background: $primary-orange;
                    margin-top: 40px;
                    transition: all .5s;

                    &:hover{
                        background-color: $primary-orange-hover;
                    }
                }
                #btn2{
                    background: $primary-blue;
                    transition: all 1s;

                    &:hover{
                        background-color: $primary-blue-hover;
                    }
                }
            }
        }
    }
}

.stats__section {
    min-height: 20vh;
    background-color: $dark-bg-blue;
    width: 100%;

    .stats {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: none;
        min-height: 20vh;
        padding: 0 10%;
        text-align: center;
        background-color: none;

        .stat {
            max-width: 100px;

            p {
                max-width: 70px;
                width: 100%;
                font-size: 1.1rem;
            }
            h1 {
                font-size: 1.5rem;
            }
        }
    }
}

.about__section {
    min-height: 100vh;
    background-color: $secondary-bg-blue;
    text-align: center;
    padding: 30px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 44, 51, 0.89);
        top: 0;
        left: 0;
        clip-path: circle(70% at 50% 155%);
        z-index: 0;
    }



    .top__about__section {
        position: relative;
        width: 100%;
        z-index: 500;
    }

    h1 {
        font-size: 3.5rem;
    }

    p {
        font-size: 1.4rem;
        margin-top: 5px;
        color: $text-one;
    }

    .about__us__cards {
        z-index: 500;
        position: relative;
        background-color: none;
        display: flex;
        width: 100%;
        min-height: 75vh;
        align-items: center;
        justify-content: space-between;
        gap: 60px;

        .about__us__card {
            max-width: 500px;
            img {
                width: 250px;
            }

            h3 {
                font-size: 2rem;
            }

            p {
                font-size: 1.2rem;
                margin-top: 15px;
            }
        }
    }
}

section.browse {
    min-height: 100vh;
    background-color: $secondary-bg-blue;
    width: 100%;
    position: relative;

    .swiper {
        min-height: 100vh;
        width: 100%;
        
        .swiper-slide {
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;

            .inner-swipe-content {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 23%;
                transition: all .3s ease;

                img#violin-swipe {
                    width: 17rem;
                }

                .info-card {
                    width: 500px;
                    height: 625px;
                    background-color: $primary-bg-blue;
                    border-radius: 5px;
                    border: 2px solid $outline-contrast;
                    text-align: center;
                    padding: 30px;

                    h1 {
                        margin-top: 10px;
                        font-size: 3em;

                        span {
                            color: $primary-orange
                        }
                    }
                    p {
                        margin-top: 30px;
                        font-size: 1.15em;

                        span {
                            color: $text-one;
                        }
                    }
                    p.fun-fact {
                        color: $text-one;
                        margin-top: 15px;
                    }

                    div.btns {
                        display: flex;
                        width: 100%;
                        background-color: none;
                        flex-direction: column;
                        margin-top: 20px;

                        button {
                            width: 100%;
                            margin: 10px 0;
                            height: 40px;
                            color: $white;
                            background-color: $primary-orange;
                            border-radius: 5px;
                            border: none;
                            font-size: 0.95em;
                            cursor: pointer;
                            transition: all .5s;

                            &:hover {
                                background-color: $primary-orange-hover;
                            }

                        }
                        button.get-started {
                            background-color: $primary-blue;

                            &:hover {
                                background-color: $primary-blue-hover;
                            }
                        }
                    }
                }
            }
        }

        .swiper-btn {
            color: $swiper-color;
            transition: all .3s;

            &:hover {
                opacity: .7;
            }
        }

        .swiper-pagination {
            span.swiper-pagination-bullet.swiper-pagination-bullet-active {
                background-color: $swiper-color;
                opacity: 1;
                transition: opacity .3s;
              }
        }

    }
}


section.help {
    text-align: center;
    margin: 30px;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        margin-bottom: 4rem;
        font-size: 2.3rem;
        transition: all .3s;
    }

    p {
        margin-bottom: 4rem;
        font-size: 1.3rem;
        width: 80%;
        color: $text-two;
        transition: all .3s;
    }

    button {
        width: 60%;
        height: 45px;
        color: $white;
        background-color: $primary-orange;
        border-radius: 5px;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            background-color: $primary-orange-hover;
        }
    }

    #heading2 {
        display: none;
    }
    #paragraph2 {
        display: none;
    }
}

// Scrollbar Styling
body::-webkit-scrollbar {
    width: 13px;
}

body::-webkit-scrollbar-track {
    background: #3e5461; 
}
  
  body::-webkit-scrollbar-thumb {
    background-color: #1a242b;
    border-radius: 5px;
}


// MEDIA QUERIES
@media (max-width: 1550px) {
    .hero__section {
        .hero__content{
            .hero__text{
            h1{
                font-size: 2rem;
                margin: 100px 0 50px 0;
                transition: all .3s;
            }

            p{
                font-size: 1.2rem;
                transition: all .3s;
            }
        }
    }
}
}

@media (max-width: 923px){
    #optionallink1 {
        display: none;
    }
}
@media (max-width: 783px){
    .nav__links{
        display: none;
    }
    .hero__section{
        .hero__content{
            .hero__text{
                h1{
                    font-size: 1.6rem;
                    margin: 100px 0 30px 0;
                    transition: all .3s;
                }
                p{
                    font-size: 1.1rem;
                    transition: all .3s;
                }
            }
        }
    }
}

@media (max-width: 783px) {
    .hero__section {
        .hero__content {
            .hero__text {
                max-width: 100%;
                text-align: center;
            }
        }
    }
    .hero__img{
        #heroviolin{
            opacity: .5;
            transition: all .3s;
        }
    }
}

@media (max-width: 450px) {
    .navbarmain {
        .loginsignup{
            display: none;
        }
        .nav__logo {
            width: 100%;
            text-align: center;
            transition: all .3s;
        }
    }
}

@media (max-width: 1440px) {
    .hero__section{
        .hero__img {
            #heroviolin {
                width: 400px;
            }
        }
    }
}

@media (min-width: 1440px) {
    .hero__section {
        .hero__content{
            .hero__text{
            h1{
                font-size: 2.7rem;
                margin: 100px 0 50px 0;
                transition: all .3s;
            }

            p{
                font-size: 1.3rem;
                transition: all .3s;
            }
            .hero__btns{
                width: 100%;
                background-color: none;
                display: inline-block;

                button{
                    width: 100%;
                    height: 50px;
                    margin: 10px 0;
                    border-radius: 7px;
                    border: none;
                    color: white;
                    font-size: 1.1rem;
                    cursor: pointer;
                }

                #btn1{
                    background: $primary-orange;
                    margin-top: 40px;
                    transition: all .5s;

                    &:hover{
                        background-color: $primary-orange-hover;
                    }
                }
                #btn2{
                    background: $primary-blue;
                    transition: all 1s;

                    &:hover{
                        background-color: $primary-blue-hover;
                    }
                }
            }
        }
    }
}

}

@media (min-width: 1450px) {
    .stats__section {
        .stats {
            .stat {
                h1 {
                    font-size: 2rem;
                }
            }
        }
    }
}

@media (max-width: 1012px) {
    .about__section {
        // .circle {
        //     display: block;
        // }
        .about__us__cards {
            flex-direction: column;
            margin-top: 50px;
        }
    }
}
@media (max-width: 1380px) {
    section.help {
        h1 {
            font-size: 1.9rem;
        }
    
        p {
            font-size: 1.15rem;
        }
        button {
            width: 90%;
        }
    }
}
@media (max-width: 885px) {
    section.help {
        h1 {
            font-size: 1.6rem;
        }
    
        p {
            font-size: 1rem;
            width: 100%;
        }
        button {
            width: 90%;
        }
    }
}
@media (max-width: 583px) {
    section.help {
        min-height: 20vh;
        h1 {
            display: none;
        }

        #heading2 {
            display: block;
            margin-bottom: 2rem;
            font-size: 1.7rem;
        }
    
        p {
            font-size: 1rem;
            margin-bottom: 3rem;
            width: 100%;
            display: none;
        }
        #paragraph2 {
            display: block;
            margin-bottom: 2rem;
            font-size: 1.1rem;
        }
        button {
            width: 100%;
            height: 40px;
        }
    }
}

@media (max-width: 1314px) {
    section.browse {
        .swiper {      
            .swiper-slide {
                .inner-swipe-content {
                    gap: 10%;
                }
            }
        }
    }
}

@media (max-width: 1001px) {
    section.browse {
        .swiper {      
            .swiper-slide {
                .inner-swipe-content {
                    img#violin-swipe {
                        position: absolute;
                        z-index: -500;
                        width: 25rem;
                        transform: rotate(30deg);
                        opacity: .5;
                    }
                }
            }
        }
    }
}

@media (max-width: 460px) {
    section.browse {
        .swiper {      
            .swiper-slide {
                .inner-swipe-content {
                    .info-card {
                        h1 {
                        }
                        p {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 375px) {
    section.browse {
        .swiper {      
            .swiper-slide {
                .inner-swipe-content {
                    .info-card {
                        h1 {
                            font-size: 2.5em;
                            margin-top: 5px;
                        }

                        div.btns { 
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
}