@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  color: #282a32;
  display: flex;
  flex-direction: column;
}

header.top-nav {
  width: 100%;
  max-height: 75px;
  min-height: 65px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eff1f6;
  flex: 1 1 auto;
}
header.top-nav .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  background-color: #ffffff;
  height: 100%;
  padding: 0 2rem;
}
header.top-nav .nav-wrapper img {
  width: 225px;
  height: auto;
  cursor: pointer;
}
header.top-nav .nav-wrapper .user-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  transition: all 0.2s ease;
}
header.top-nav .nav-wrapper .user-detail:hover {
  background: #fef6ec;
  color: #DF652B;
}

main.main {
  flex: 1 1 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  align-items: center;
  background-color: #fcfbfb;
}
main.main .main-nav {
  max-width: 1280px;
  position: relative;
  width: 100%;
  margin-top: 3rem;
  padding: 0 2.5rem;
}
main.main .main-nav .mnp1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
main.main .main-nav .mnp1 h1 {
  font-weight: 600;
  font-size: 1.5rem;
}
main.main .main-nav .mnp1 div {
  position: relative;
}
main.main .main-nav .mnp1 div:hover i, main.main .main-nav .mnp1 div:focus i {
  color: #DF652B;
}
main.main .main-nav .mnp1 div input {
  padding: 0.4rem 2.4rem;
  max-width: 300px;
  width: 300px;
  border-radius: 6px;
  border: 2px solid #eff1f6;
  transition: all 0.4s ease;
  font-size: 0.95rem;
}
main.main .main-nav .mnp1 div input:focus, main.main .main-nav .mnp1 div input:hover {
  outline: none;
  border: 2px solid #DF652B;
}
main.main .main-nav .mnp1 div i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
}
main.main .main-nav .mnp2 {
  border-bottom: 1px solid #eff1f6;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1.5rem 0 0 0;
  gap: 15px;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}
main.main .main-nav .mnp2 p {
  position: relative;
  cursor: pointer;
  padding: 1rem 0;
  transition: all 0.2s ease;
  white-space: nowrap;
}
main.main .main-nav .mnp2 p::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 6.5px;
  background-color: #DF652B;
  opacity: 0;
  transition: all 0.2s ease;
}
main.main .main-nav .mnp2 p:hover::before {
  opacity: 1;
}
main.main .main-nav .mnp2 p:hover {
  color: #DF652B;
}
main.main .main-nav .mnp2 .active-mnp2 {
  color: red;
}
main.main .main-nav .mnp2 .active-mnp2::before {
  opacity: 1;
}
main.main section.main-content {
  width: 100%;
  max-width: 1280px;
  padding: 1rem 2.5rem;
}
main.main section.main-content .tab {
  display: none;
}
main.main section.main-content .shown {
  display: block;
}
main.main section.main-content .desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.8rem 0;
  color: #282a32;
  flex-wrap: wrap;
  border-bottom: 1px solid #eff1f6;
}
main.main section.main-content .desc h1 {
  font-weight: 600;
  font-size: 1.35rem;
}
main.main section.main-content .desc p {
  font-size: 0.9rem;
  margin-top: 0.3rem;
  color: #6a6887;
  margin-bottom: 2rem;
}
main.main section.main-content .desc button {
  margin-bottom: 2rem;
  width: 170px;
  height: 36px;
  border-radius: 5px;
  border: 2px solid #eff1f6;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #33312f;
}
main.main section.main-content .desc button:hover {
  border: 2px solid #DF652B;
  color: #DF652B;
}
main.main section.main-content .content {
  display: flex;
}
main.main section.main-content .content .filters {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
main.main section.main-content .content .filters button {
  text-align: left;
  padding: 0.6rem 0.9rem;
  width: 200px;
  cursor: pointer;
  background: none;
  border-radius: 7px;
  border: none;
  font-size: 0.96rem;
  font-weight: 500;
  color: rgb(43, 42, 41);
  transition: all 0.3s ease;
}
main.main section.main-content .content .filters button:hover {
  background-color: #fef6ec;
  color: #DF652B;
}
main.main section.main-content .content .filters button.filter-active {
  background-color: #fef6ec;
  color: #DF652B;
}
main.main section.main-content .content .billing-res {
  flex-direction: row !important;
  display: flex !important;
  gap: 15px;
}
main.main section.main-content .content .results {
  color: rgb(80, 75, 72);
  flex: 1 1 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem 0rem 0 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
main.main section.main-content .content .results a {
  text-decoration: none;
  color: #DF652B;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
main.main section.main-content .content .results a:hover {
  text-decoration: underline;
}
main.main section.main-content .content .results input {
  max-width: 200px;
  width: 100%;
  min-width: 5px;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 0.3rem 0.6rem;
  border-radius: 3px;
  border: none;
}
main.main section.main-content .content .results input:disabled {
  cursor: pointer;
  border: 1px solid rgb(180, 180, 180);
}
main.main section.main-content .content .results .billing-card {
  padding: 1rem;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #DF652B;
  position: relative;
  text-align: center;
  cursor: pointer;
}
main.main section.main-content .content .results .billing-card h1 {
  margin: 0.5rem 0;
}
main.main section.main-content .content .results .billing-card p {
  margin: 0.3rem 0;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
main.main section.main-content .content .results .billing-card .bill-type {
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.mnp2::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

@media (max-width: 500px) {
  main.main .main-nav {
    margin-top: 1rem !important;
  }
  main.main .main-nav .mnp1 {
    flex-direction: column;
    row-gap: 20px;
  }
  main.main .main-nav .mnp2 {
    justify-content: space-between !important;
    gap: 10px !important;
  }
}
@media (max-width: 432px) {
  main.main .main-nav {
    padding: 0 0.5rem !important;
  }
  .nav-wrapper {
    padding: 0 0.5rem !important;
  }
  .content {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    text-align: center;
    row-gap: 20px;
  }
  .results {
    text-align: center !important;
  }
  .results a {
    width: 100% !important;
  }
}
@media (max-width: 465px) {
  .desc {
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
  }
}
@media (max-width: 362px) {
  .user-detail {
    display: none !important;
  }
  .nav-wrapper {
    justify-content: center !important;
  }
}
@media (max-width: 310px) {
  .mnp1 div input {
    width: 100% !important;
  }
}
@media (max-width: 846px) {
  .content #billing-res {
    flex-direction: column !important;
  }
}/*# sourceMappingURL=dashboard.css.map */