@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #ffffff;
  color: #282a32;
  display: flex;
  flex-direction: column;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  position: relative;
  gap: 50px;
}

header.top-nav {
  width: 100%;
  max-height: 75px;
  min-height: 65px;
  background-color: #242f38;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eff1f6;
  flex: 1 1 auto;
}
header.top-nav .nav-wrapper {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  background-color: #242f38;
  height: 100%;
  padding: 0 2rem;
  color: #ffffff !important;
}
header.top-nav .nav-wrapper img {
  width: 225px;
  height: auto;
  cursor: pointer;
}
header.top-nav .nav-wrapper .right-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
header.top-nav .nav-wrapper .right-nav .cart {
  position: relative;
  background-color: none;
  cursor: pointer;
  padding: 0.4rem 0.5rem;
}
header.top-nav .nav-wrapper .right-nav .cart .fullHeight {
  height: 400px !important;
}
header.top-nav .nav-wrapper .right-nav .cart:hover {
  background-color: #fef6ec;
  border-radius: 5px;
}
header.top-nav .nav-wrapper .right-nav .cart i {
  padding: 0.4rem;
  font-size: 1.1rem;
  transition: all 0.3s;
  color: #ffffff;
}
header.top-nav .nav-wrapper .right-nav .cart .amt {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: #DF652B;
  border-radius: 50px;
  min-width: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.3rem;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.7rem;
  font-weight: 600;
}
header.top-nav .nav-wrapper .right-nav .cart:hover {
  background-color: #293740;
}
header.top-nav .nav-wrapper .user-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  transition: all 0.2s ease;
  position: relative;
}
header.top-nav .nav-wrapper .user-detail .logout {
  background-color: white;
  position: absolute;
  top: 42px;
  border-radius: 7px;
  padding: 0.7rem 0;
  width: 100%;
  text-align: center;
  z-index: 100000;
  opacity: 0;
  color: #282a32 !important;
  pointer-events: none;
  border: 2px solid #fef6ec;
}
header.top-nav .nav-wrapper .user-detail .logout i {
  color: #DF652B;
  margin-right: 10px;
}
header.top-nav .nav-wrapper .user-detail .logout:hover {
  background: #fef6ec;
  color: #DF652B !important;
}
header.top-nav .nav-wrapper .user-detail:hover {
  background: #293740;
}
header.top-nav .nav-wrapper .user-detail:hover .logout {
  opacity: 1;
  pointer-events: all;
}

main.main {
  flex: 1 1 auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: calc(100vh - 150px);
  max-height: 100vh;
  height: calc(100vh - 150px);
  width: 100%;
  overflow-y: auto;
}
main.main .main-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  padding: 0 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
main.main .main-wrapper .col1 {
  flex: 1 1 auto;
  margin-top: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  background-color: none;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 23%;
  min-width: 23%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
main.main .main-wrapper .col1 .filterToggle {
  display: none;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 0.5rem;
  background-color: #DF652B;
  color: #ffffff;
  border-radius: 50px;
  margin-bottom: 20px;
  border: none;
  height: 35px;
}
main.main .main-wrapper .col1 #flToggle {
  display: none;
}
main.main .main-wrapper .col1 h1 {
  font-size: 1.8rem;
  font-weight: 600;
}
main.main .main-wrapper .col1 div.filter-section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
main.main .main-wrapper .col1 div.filter-section p {
  font-size: 1.15rem;
  font-weight: 600;
}
main.main .main-wrapper .col1 div.filter-section input[type=checkbox] {
  accent-color: #DF652B;
  cursor: pointer;
  width: 17px;
  height: 17px;
}
main.main .main-wrapper .col1 div.filter-section div {
  display: flex;
  align-items: center;
  gap: 7px;
}
main.main .main-wrapper .col1 #searchBtn {
  margin-top: 25px;
  background-color: #DF652B;
  color: #ffffff;
  border: none;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
main.main .main-wrapper .col1 #searchBtn:hover {
  background-color: #a34b21;
}
main.main .main-wrapper .col2 {
  max-width: 80%;
  flex: 3 0.5 auto;
  height: 100%;
  position: relative;
  background-color: none;
  padding: 1rem;
}
main.main .main-wrapper .col2 h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem;
}
main.main .main-wrapper .col2 .top-results {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main.main .main-wrapper .col2 .results {
  background-color: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: 1rem;
}
main.main .main-wrapper .col2 .results .result {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  position: relative;
  background-color: none;
  max-width: 215px;
}
main.main .main-wrapper .col2 .results .result img {
  width: 200px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
main.main .main-wrapper .col2 .results .result button {
  width: 75px;
  background-color: #DF652B;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  height: 30px;
  cursor: pointer;
  margin: 5px 0;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1490196078);
  transition: background-color 0.3s ease;
}
main.main .main-wrapper .col2 .results .result button:hover {
  background-color: #a34b21;
}
main.main .main-wrapper .col2 .results .result h1 {
  font-size: 1.2rem;
  margin: 0;
}
main.main .main-wrapper .col2 .results .result .price {
  margin: 0;
  font-weight: 600;
  color: #DF652B;
}
main.main .main-wrapper .col2 .results .result .desc {
  font-size: 0.85rem;
  max-width: 100%;
  opacity: 0.7;
}

@media (max-width: 960px) {
  body {
    display: block !important;
  }
  header.top-nav {
    position: -webkit-sticky !important;
    position: sticky !important;
    min-height: 75px !important;
  }
  main.main {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    max-height: none !important;
    min-height: none !important;
    margin: 0 !important;
  }
  .col2 {
    max-width: none !important;
  }
  .main-wrapper {
    max-width: none !important;
  }
  .results {
    justify-content: space-between !important;
  }
  .main-wrapper {
    flex-direction: column;
  }
  .main-wrapper .col1 {
    padding: 0 2rem !important;
    padding-top: 0.5rem !important;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100% !important;
    width: 100% !important;
    border: none !important;
    flex-wrap: wrap;
  }
  .main-wrapper .col1 #searchBtn {
    width: 200px;
  }
  .main-wrapper .col1 #flToggle {
    display: flex !important;
  }
  .main-wrapper .col1 .hidden {
    display: none !important;
  }
}
@media (max-width: 563px) {
  .col1 {
    margin-top: 0 !important;
  }
  .col1 #searchBtn {
    width: 100% !important;
  }
  .main-wrapper {
    padding: 0.5rem !important;
  }
  .results {
    justify-content: center !important;
  }
  .results .result {
    width: 100% !important;
    max-width: none !important;
  }
}
@media (max-width: 483px) {
  .right-nav {
    display: none !important;
  }
  .nav-wrapper {
    justify-content: center !important;
  }
}/*# sourceMappingURL=instrumentresults.css.map */