@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #293740;
  color: #ffffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

div.header {
  width: 100%;
  height: 100%;
  text-align: center;
  height: auto;
}
div.header h1 {
  font-size: 2.2rem;
}
div.header h1 img {
  cursor: pointer;
}
div.header span {
  color: #DF652B;
}
div.header p {
  color: #93b1c2;
  font-size: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 2rem;
}

section.results {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-start;
  gap: 3.1rem;
  margin-top: 25px;
  flex-wrap: wrap;
}
section.results .irs {
  background-color: #2D3F4A;
  width: 425px;
  border-radius: 10px;
  height: 300px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
  flex-grow: 1;
}
section.results .irs::part(card) {
  position: relative;
  height: 100%;
  width: 100%;
}
section.results .irs::part(img) {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  object-fit: cover;
}
section.results .irs::part(overlay):hover {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.65));
}
section.results .irs::part(overlay) {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
  z-index: 10;
}
section.results .irs::part(card-text) {
  z-index: 1000;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}
section.results .irs::part(img-title) {
  font-size: 1.4rem;
  font-weight: 600;
  z-index: 1000;
}
section.results .irs::part(img-desc), section.results .irs::part(img-price) {
  font-size: 0.85rem;
  font-weight: 400;
  opacity: 0.7;
  z-index: 1000;
}
section.results .irs::part(img-price) {
  margin-top: 1px;
  font-size: 0.8rem;
  opacity: 0.8;
  font-weight: 700;
  font-size: 0.87rem;
}

section.results::-webkit-scrollbar {
  display: none;
}

section.results::-webkit-scrollbar-track {
  background: #334652;
}

section.results::-webkit-scrollbar-thumb {
  background-color: #1a242b;
  border-radius: 6px;
}

@media (max-width: 1000px) {
  section.results {
    justify-content: center;
  }
}
@media (max-width: 930px) {
  section.results .card {
    width: 100% !important;
  }
}
a {
  color: white;
  text-decoration: underline;
  text-align: center;
  margin-top: 20px;
}/*# sourceMappingURL=instrumentresults.css.map */