@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #293740;
  color: #ffffff;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
}

div.header {
  padding: 1rem;
  width: 100%;
  height: 100%;
  text-align: center;
  height: auto;
}
div.header h1 {
  font-size: 2.2rem;
}
div.header h1 img {
  cursor: pointer;
}
div.header span {
  color: #DF652B;
}
div.header p {
  color: #93b1c2;
  font-size: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 2rem;
}

section.results {
  padding: 1rem;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-start;
  gap: 3.1rem;
  margin-top: 25px;
  flex-wrap: wrap;
}
section.results .irs {
  background-color: #2D3F4A;
  width: 425px;
  border-radius: 10px;
  height: 300px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
  flex-grow: 1;
}
section.results .irs::part(card) {
  position: relative;
  height: 100%;
  width: 100%;
}
section.results .irs::part(img) {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  object-fit: cover;
}
section.results .irs::part(overlay):hover {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.65));
}
section.results .irs::part(overlay) {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
  z-index: 10;
}
section.results .irs::part(card-text) {
  z-index: 1000;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}
section.results .irs::part(img-title) {
  font-size: 1.4rem;
  font-weight: 600;
  z-index: 1000;
}
section.results .irs::part(img-desc), section.results .irs::part(img-price) {
  font-size: 0.85rem;
  font-weight: 400;
  opacity: 0.7;
  z-index: 1000;
}
section.results .irs::part(img-price) {
  margin-top: 1px;
  font-size: 0.8rem;
  opacity: 0.8;
  font-weight: 700;
  font-size: 0.87rem;
}

div.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.popup .popup-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1500;
}
div.popup .popup-box {
  width: 900px;
  height: 500px;
  background-color: white;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  position: relative;
}
div.popup .popup-box #popup-close {
  font-size: 5rem;
  position: absolute;
  z-index: 2000;
  color: #03314b;
  cursor: pointer;
  top: 0;
  right: 0;
  margin: 0.5rem;
  transition: all 0.3s;
}
div.popup .popup-box #popup-close:hover {
  color: #DF652B;
}
div.popup .popup-box .left {
  flex: 1 0.6 auto;
  height: 100%;
  position: relative;
}
div.popup .popup-box .left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 0 0 5px;
}
div.popup .popup-box .right {
  color: #03314b;
  height: 100%;
  flex: 1 1 1;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 5px;
}
div.popup .popup-box .right h1 {
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
}
div.popup .popup-box .right p.right-desc {
  text-align: center;
  margin: 0;
  font-size: 0.95rem;
  font-weight: 400;
}
div.popup .popup-box .right p.right-price {
  text-align: center;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
  color: #DF652B;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fef6ec;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
div.popup .popup-box .right p.right-price:hover {
  background-color: #f1e6d8;
}
div.popup .popup-box .right button {
  height: 50px;
  width: 100%;
  cursor: pointer;
  background-color: #DF652B;
  color: #ffffff;
  transition: all 0.3s ease;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
div.popup .popup-box .right button:hover {
  background-color: #a34b21;
}

.hidden {
  display: none !important;
}

section.results::-webkit-scrollbar {
  display: none;
}

section.results::-webkit-scrollbar-track {
  background: #334652;
}

section.results::-webkit-scrollbar-thumb {
  background-color: #1a242b;
  border-radius: 6px;
}

@media (max-width: 1000px) {
  section.results {
    justify-content: center;
  }
}
@media (max-width: 930px) {
  section.results .card {
    width: 100% !important;
  }
}
a {
  color: white;
  text-decoration: underline;
  text-align: center;
  margin-top: 20px;
  padding: 1rem;
}

@media (max-width: 646px) {
  .popup-box {
    flex-direction: column;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .popup-box .left {
    width: 100% !important;
    max-height: 40% !important;
  }
  .popup-box .right {
    justify-content: space-between !important;
    row-gap: 15px !important;
  }
}
@media (max-height: 740px) and (max-width: 646px) {
  .popup-box {
    position: static !important;
  }
}/*# sourceMappingURL=instrumentresults.css.map */