@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  scroll-padding-top: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #2D3F4A;
  color: white;
  height: 100% !important;
}

[data-aos-duration="500"] {
  transition-duration: 0.5s !important;
}

[data-aos-duration="1000"] {
  transition-duration: 1s !important;
}

[data-aos-duration="1500"] {
  transition-duration: 1.5s !important;
}

[data-aos-duration="2000"] {
  transition-duration: 2s !important;
}

[data-aos-duration="2500"] {
  transition-duration: 2.5s !important;
}

[data-aos-duration="3000"] {
  transition-duration: 3s !important;
}

#error-modal {
  text-align: center;
  color: red;
  margin-top: 10px;
}

.navbarmain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  position: fixed;
  background: none;
  width: 100%;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  transition: background 0.3s ease;
}
.navbarmain .user-dropdown {
  pointer-events: none;
  background-color: white;
  position: absolute;
  top: 80%;
  right: 0;
  border-radius: 5px 5px 5px 5px;
  height: -moz-fit-content;
  height: fit-content;
  width: 10rem;
  opacity: 0;
  transition: all 0.3s ease;
  gap: 0;
  margin: 0 !important;
  margin-right: 5% !important;
  overflow: hidden;
  color: black;
}
.navbarmain .user-dropdown button {
  width: 100%;
  flex: 1 1 auto;
  height: 50px !important;
  margin: 0 !important;
  cursor: pointer;
  background-color: rgb(252, 252, 252);
  border: none;
  transition: background-color 0.15s;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.navbarmain .user-dropdown button:hover {
  background-color: #DF652B;
  color: white;
}
.navbarmain .user-dropdown button:last-child:hover {
  background-color: #009687;
}
.navbarmain .user-dropdown p {
  font-weight: 500;
}
.navbarmain .user-dropdown .dropdivide {
  height: 100%;
  width: 1px;
  background-color: black;
  opacity: 0.4;
}
.navbarmain .user-dropdown .div1, .navbarmain .user-dropdown .div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.navbarmain .user-dropdown .div1 p, .navbarmain .user-dropdown .div2 p {
  font-size: 1.05rem;
}
.navbarmain .user-dropdown .div1 a, .navbarmain .user-dropdown .div2 a {
  font-size: 0.8rem;
  color: #2D3F4A;
  padding: 0.1rem;
}
.navbarmain .user-dropdown .div1 a:hover, .navbarmain .user-dropdown .div2 a:hover {
  color: #DF652B;
  text-decoration: underline;
}
.navbarmain .nav__logo {
  cursor: pointer;
}
.navbarmain .nav__logo span {
  color: #DF652B;
}
.navbarmain li, .navbarmain a, .navbarmain button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}
.navbarmain .nav__links {
  list-style: none;
  position: relative;
}
.navbarmain .nav__links li {
  display: inline-block;
  padding: 0px 20px;
}
.navbarmain .nav__links li .nav__link {
  color: #fff;
  position: relative;
  cursor: pointer;
}
.navbarmain .nav__links li .nav__link::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #009687;
  transition: all 0.25s ease;
}
.navbarmain .nav__links li .nav__link:hover::after {
  width: 100%;
  transition: all 0.5s;
}
.navbarmain .loginsignup button {
  padding: 9px 17px;
  border-radius: 50px;
  border: none;
  background-color: #009687;
  color: white;
  margin: 0px 20px;
  cursor: pointer;
  transition: all 0.5s;
}
.navbarmain .loginsignup button:hover {
  color: white;
  background-color: #027468;
}
.navbarmain .loginsignup .loginlink {
  color: #fff;
  position: relative;
  cursor: pointer;
}
.navbarmain .loginsignup .loginlink::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #009687;
  transition: all 0.25s ease;
}
.navbarmain .loginsignup .loginlink:hover::after {
  width: 100%;
  transition: all 0.5s;
}
.navbarmain .loggedIn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  margin: -15px 0;
  height: 5rem;
  border-radius: 3px;
}
.navbarmain .loggedIn div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.navbarmain .loggedIn div #email {
  max-width: 165px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.navbarmain .loggedIn #angle-down {
  transition: all 0.2s;
}
.navbarmain .loggedIn:hover {
  opacity: 0.8;
}
.navbarmain .loggedIn:hover #angle-down {
  margin-top: 4px;
}
.navbarmain .hamburger-icons {
  display: none;
}
.navbarmain .icon {
  font-size: 1.5em;
}

.chatCenter {
  position: absolute;
  right: 25px;
  bottom: 25px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.chatCenter button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #DF652B;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.chatCenter button:hover {
  background-color: #a34b21;
}
.chatCenter button i {
  color: white;
  opacity: 0.85;
  font-size: 1rem;
}
.chatCenter .chatCenterChat {
  display: none;
  width: 500px;
  height: 300px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.chatCenter .chatCenterChat .cccTitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.chatCenter .chatCenterChat .cccTitle p {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 1.05rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.chatCenter .chatCenterChat .cccTitle p span {
  color: #DF652B;
}
.chatCenter .chatCenterChat .cccChats::-webkit-scrollbar {
  width: 0px;
}
.chatCenter .chatCenterChat .cccChats {
  width: 100%;
  height: calc(100% - 50px - 50px);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.chatCenter .chatCenterChat .cccChats .message {
  max-width: 80%;
  margin: 10px 0;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  font-weight: 500;
  font-size: 0.95rem;
}
.chatCenter .chatCenterChat .cccChats .other {
  background-color: rgb(231, 231, 231);
  margin-left: 20px;
  border-bottom-left-radius: 0px;
  color: black !important;
}
.chatCenter .chatCenterChat .cccChats .yours {
  background-color: #DF652B;
  color: white;
  margin-left: 20px;
  border-bottom-right-radius: 0px;
  align-self: flex-end;
  margin-right: 20px;
}
.chatCenter .chatCenterChat .cccInput {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 70px;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  display: flex;
  align-items: center;
  gap: 5px;
}
.chatCenter .chatCenterChat .cccInput input {
  width: 80%;
  margin-left: 20px;
  height: 35px;
  padding: 0 0.75rem;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.chatCenter .chatCenterChat .cccInput input:focus {
  outline: none;
}
.chatCenter .chatCenterChat .cccInput button {
  height: 35px;
  border-radius: 5px;
  color: white;
}
.chatCenter .cccShown {
  display: block !important;
}

div.mobile-menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: fixed;
  background-color: #1b242b;
  padding: 0;
  text-align: center;
  top: -380px;
  align-items: center;
  justify-content: center;
  z-index: 500;
  transition: top 0.6s;
  display: none;
}
div.mobile-menu a {
  width: 100%;
  padding: 20px 0px;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #26323b;
  border-top: 1px solid #26323b;
  cursor: pointer;
  font-size: 1rem;
}
div.mobile-menu #top-nav-link {
  border-top: 2px solid #26323b;
}

div.bg-blur {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  z-index: 400;
  opacity: 0;
  pointer-events: none;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  transition: opacity 0.6s;
}

.ifpopup {
  position: fixed;
  z-index: 50000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #282a32;
  transition: all 0.2s ease;
  opacity: 0;
  pointer-events: none;
}
.ifpopup .overlay2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.ifpopup .box {
  position: relative;
}
.ifpopup .box #popup-close2 {
  transition: all 0.2s ease;
  cursor: pointer;
  right: 15px;
  top: 15px;
  position: absolute;
}
.ifpopup .box #popup-close2:hover {
  color: #DF652B;
}
.ifpopup #homeLink {
  margin-top: 0.5rem;
  color: #DF652B;
}
.ifpopup .box {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  padding: 1rem 1rem 0.5rem 1rem;
  border-radius: 5px;
  min-height: 33rem;
  transition: height 0.5s;
}
.ifpopup .box .header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.ifpopup .box .header h1 span {
  color: #DF652B;
}
.ifpopup .box .header img {
  width: 35px;
  cursor: pointer;
  transition: all 0.3s;
}
.ifpopup .box .header img:hover {
  opacity: 0.85;
}
.ifpopup .box p {
  margin-top: 5px;
  font-weight: 500;
}
.ifpopup select {
  width: 100%;
  height: 50px;
  padding: 0.7rem 0.2rem;
  border: 2px solid rgb(236, 236, 236);
  background-color: rgb(248, 248, 248);
  border-radius: 5px;
  cursor: pointer;
  color: black;
  transition: background-color 0.3s ease;
}
.ifpopup select:hover {
  background-color: rgb(238, 238, 238);
}
.ifpopup .selects {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.ifpopup .btn {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 50px;
}
.ifpopup .btn button {
  width: 100%;
  height: 45px;
  background-color: #DF652B;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.ifpopup .btn button:hover {
  background-color: #a34b21;
}
@media (max-width: 416px) {
  .ifpopup .box {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .ifpopup #box {
    max-height: 550px;
  }
  .ifpopup .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.ifpopup .box {
  padding: 4rem 2rem !important;
}

@media (max-width: 416px) {
  .ifpopup, #o2 {
    background-color: white !important;
  }
}
.hero__section {
  height: calc(100vh + 1px);
  max-height: 1240px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.hero__section::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(41, 55, 64);
  top: 0;
  left: 0;
  -webkit-clip-path: circle(55% at 100% -10%);
          clip-path: circle(55% at 100% -10%);
  z-index: -501;
}
.hero__section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(41, 55, 64);
  top: 0;
  left: 0;
  -webkit-clip-path: circle(55% at -10% 100%);
          clip-path: circle(55% at -10% 100%);
  z-index: -501;
}
.hero__section .hero__img #heroviolin {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 600px;
  z-index: -400;
  transition: all 0.3s;
}
.hero__section .hero__content .hero__text {
  height: 100vh;
  max-height: 1240px;
  padding: 15px 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  max-width: 60%;
  position: relative;
  transition: all 1s;
}
.hero__section .hero__content .hero__text h1 {
  font-size: 2.3rem;
  margin: 100px 0 75px 0;
  transition: all 0.3s;
}
.hero__section .hero__content .hero__text p {
  font-size: 1.3rem;
  transition: all 0.3s;
  margin: 10px 0 30px 0;
}
.hero__section .hero__content .hero__text .hero__btns {
  width: 100%;
  background-color: none;
  display: inline-block;
}
.hero__section .hero__content .hero__text .hero__btns button {
  width: 100%;
  height: 43px;
  margin: 10px 0;
  border-radius: 7px;
  border: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}
.hero__section .hero__content .hero__text .hero__btns #btn1 {
  background: #DF652B;
  margin-top: 40px;
  transition: all 0.5s ease;
}
.hero__section .hero__content .hero__text .hero__btns #btn1:hover {
  background-color: #a34b21;
}
.hero__section .hero__content .hero__text .hero__btns #btn2 {
  background: #009687;
  transition: all 1s ease;
}
.hero__section .hero__content .hero__text .hero__btns #btn2:hover {
  background-color: #027468;
}

.stats__section {
  min-height: 20vh;
  background-color: #26323b;
  width: 100%;
}
.stats__section .stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: none;
  min-height: 20vh;
  padding: 0 10%;
  text-align: center;
  background-color: none;
}
.stats__section .stats .stat {
  max-width: 100px;
}
.stats__section .stats .stat p {
  max-width: 70px;
  width: 100%;
  font-size: 1.1rem;
}
.stats__section .stats .stat h1 {
  font-size: 1.5rem;
}

section.browse {
  min-height: 100vh;
  background-color: #293740;
  width: 100%;
  position: relative;
}
section.browse .browse-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #242f38;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}
section.browse .swiper {
  min-height: 100vh;
  width: 100%;
}
section.browse .swiper .swiper-slide {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.browse .swiper .swiper-slide .inner-swipe-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23%;
  transition: all 0.3s ease;
}
section.browse .swiper .swiper-slide .inner-swipe-content img.instrument-swipe {
  width: 17rem;
}
section.browse .swiper .swiper-slide .inner-swipe-content .info-card {
  width: 500px;
  min-height: 500px;
  height: -moz-fit-content !important;
  height: fit-content !important;
  background-color: #2D3F4A;
  border-radius: 5px;
  border: 2px solid #374c58;
  text-align: center;
  padding: 30px 25px;
}
section.browse .swiper .swiper-slide .inner-swipe-content .info-card h1 {
  margin-top: 10px;
  font-size: 3em;
}
section.browse .swiper .swiper-slide .inner-swipe-content .info-card h1 span {
  color: #DF652B;
}
section.browse .swiper .swiper-slide .inner-swipe-content .info-card p {
  margin-top: 30px;
  font-size: 1.15em;
}
section.browse .swiper .swiper-slide .inner-swipe-content .info-card p span {
  color: #7a95a5;
}
section.browse .swiper .swiper-slide .inner-swipe-content .info-card p.fun-fact {
  color: #7a95a5;
  margin-top: 15px;
}
section.browse .swiper .swiper-slide .inner-swipe-content .info-card .hearSection {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  gap: 10px;
}
section.browse .swiper .swiper-slide .inner-swipe-content .info-card .hearSection p {
  margin: 0;
  color: #7a95a5;
}
section.browse .swiper .swiper-slide .inner-swipe-content .info-card .hearSection button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #DF652B;
  color: #ffffff;
  border: none;
  font-size: 0.7rem;
  transition: all 0.3s ease;
}
section.browse .swiper .swiper-slide .inner-swipe-content .info-card .hearSection button:hover {
  background-color: #a34b21;
}
section.browse .swiper .swiper-slide .inner-swipe-content .info-card div.btns {
  display: flex;
  width: 100%;
  background-color: none;
  flex-direction: column;
  margin-top: 20px;
}
section.browse .swiper .swiper-slide .inner-swipe-content .info-card div.btns button {
  width: 100%;
  margin: 1rem 0;
  height: 45px;
  color: #ffffff;
  background-color: #DF652B;
  border-radius: 5px;
  border: none;
  font-size: 0.95em;
  cursor: pointer;
  transition: all 0.5s;
}
section.browse .swiper .swiper-slide .inner-swipe-content .info-card div.btns button:hover {
  background-color: #a34b21;
}
section.browse .swiper .swiper-slide .inner-swipe-content .info-card div.btns button.get-started {
  background-color: #009687;
}
section.browse .swiper .swiper-slide .inner-swipe-content .info-card div.btns button.get-started:hover {
  background-color: #027468;
}
section.browse .swiper .swiper-btn {
  color: #445f70;
  transition: all 0.3s;
}
section.browse .swiper .swiper-btn:hover {
  opacity: 0.7;
}
section.browse .swiper .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #445f70;
  opacity: 1;
  transition: opacity 0.3s;
}

section.help {
  text-align: center;
  margin: 30px;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section.help h1 {
  margin-bottom: 4rem;
  font-size: 2.3rem;
  transition: all 0.3s;
}
section.help p {
  margin-bottom: 4rem;
  font-size: 1.3rem;
  width: 80%;
  color: #93b1c2;
  transition: all 0.3s;
}
section.help button {
  width: 60%;
  height: 45px;
  color: #ffffff;
  background-color: #DF652B;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
section.help button:hover {
  background-color: #a34b21;
}
section.help #heading2 {
  display: none;
}
section.help #paragraph2 {
  display: none;
}

section.faq {
  min-height: 50vh;
  width: 100%;
  background-color: #26323b;
  padding: 30px;
  position: relative;
}
section.faq h1 {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
}
section.faq .accordian {
  margin-top: 70px;
  position: relative;
  width: 100%;
}
section.faq .accordian .accordian-card {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #364a57;
  padding: 15px 20px;
  border-radius: 7px;
  min-width: 250px;
  max-width: 1000px;
  margin: 20px 0;
  transition: background-color 0.5s;
  cursor: pointer;
}
section.faq .accordian .accordian-card:hover {
  background-color: #3e5463;
}
section.faq .accordian .accordian-card .shown-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
section.faq .accordian .accordian-card .shown-content .retract {
  display: none;
}
section.faq .accordian .accordian-card .shown-content .faq-toggle {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s;
  font-weight: 600;
  font-size: 1.25em;
}
section.faq .accordian .accordian-card .shown-content p {
  font-weight: 600;
}
section.faq .accordian .accordian-card .hidden-content {
  display: none;
}
section.faq .accordian .accordian-card .faq-divider {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background-color: #4e6c7e;
}

section.testimonials {
  width: 100%;
  min-height: 100vh;
  background-color: #293740;
  padding: 30px;
}
section.testimonials h1.top-review-header {
  text-align: center;
  font-size: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 100;
}
section.testimonials h1.top-review-header span {
  background-color: #DF652B;
  border-radius: 5px;
  padding: 5px;
  font-size: 2rem;
}
section.testimonials h1#boxed-review-header {
  background-color: #DF652B;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  border-radius: 5px;
}
section.testimonials .review-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 40px;
}
section.testimonials .review-row .review-card {
  width: 600px;
  height: 200px;
  background-color: #2D3F4A;
  border: 2px solid #374c58;
  border-radius: 5px;
  padding: 10px;
}
section.testimonials .review-row .review-card .review-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.testimonials .review-row .review-card .review-header .review-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.testimonials .review-row .review-card .review-header .review-left p {
  font-weight: 600;
}
section.testimonials .review-row .review-card .review-header .review-left i {
  margin-left: 7px;
}
section.testimonials .review-row .review-card .review-header img {
  width: 100px;
}
section.testimonials .review-row .review-card .review-body {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.testimonials .review-row .review-card .review-body p {
  font-size: 1.05em;
  font-weight: 500;
}

section.cta {
  min-height: 25vh;
  width: 100%;
  background-color: #2D3F4A;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 30px;
}
section.cta div.left {
  margin-right: 75px;
}
section.cta div.left h1 {
  font-size: 2.7em;
}
section.cta div.left p {
  font-size: 0.95em;
  margin-top: 10px;
  color: #7a95a5;
}
section.cta div.right {
  position: relative;
}
section.cta div.right input {
  width: 530px;
  height: 60px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 5px 4px hsla(0, 0%, 0%, 0.2);
  padding: 20px;
  font-size: 0.95em;
  font-weight: 500;
  color: #7a95a5;
}
section.cta div.right input:focus {
  outline: 2px solid #26323b;
}
section.cta div.right button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 90%;
  width: 35%;
  background-color: #DF652B;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 0.95em;
}
section.cta div.right button:hover {
  background-color: #a34b21;
}

footer.footer {
  background-color: #242f38;
  width: 100%;
  position: relative;
}
footer.footer .main-footer {
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  flex-wrap: wrap;
  gap: 20px;
}
footer.footer .main-footer .promote {
  margin-right: 25px;
}
footer.footer .main-footer .promote .footer-logo {
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
}
footer.footer .main-footer .promote .footer-logo span {
  color: #DF652B;
}
footer.footer .main-footer .promote p {
  font-size: 0.9rem;
  color: #bdcbd3;
}
footer.footer .main-footer .footer-columns {
  display: flex;
  justify-content: space-around;
  width: 60%;
  gap: 5px;
}
footer.footer .main-footer .footer-columns .footer-column {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
footer.footer .main-footer .footer-columns .footer-column h2 {
  font-weight: 500;
  letter-spacing: 0.05rem;
}
footer.footer .main-footer .footer-columns .footer-column li {
  list-style: none;
}
footer.footer .main-footer .footer-columns .footer-column li a {
  color: #8da3af;
  text-decoration: none;
}
footer.footer .main-footer .footer-columns .footer-column li a:hover {
  text-decoration: underline;
}
footer.footer .footer-bottom {
  bottom: 0;
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 0 3rem;
  justify-content: center;
  position: relative;
  gap: 7px;
  flex-wrap: wrap;
  text-align: center;
}
footer.footer .footer-bottom p {
  color: #d2dce2;
}
footer.footer .footer-bottom .footer-bottom-divider {
  width: 1px;
  height: 20px;
  background-color: #d7dfe6;
}

div.signup-popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  color: #03314b;
  opacity: 0;
  pointer-events: none;
}
div.signup-popup .popup-overlay {
  width: 100%;
  height: 100%;
  background-color: none;
  position: absolute;
  z-index: -1;
}
div.signup-popup div.signup-popup-modal {
  width: 475px;
  height: 600px;
  background-color: white;
  transition: all 0.2s;
  border-radius: 5px;
}
div.signup-popup div.signup-popup-modal .top-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1.5rem 2rem;
}
div.signup-popup div.signup-popup-modal .top-section .popup-x {
  cursor: pointer;
  color: rgb(41, 41, 41);
  transition: color 0.3s;
}
div.signup-popup div.signup-popup-modal .top-section .popup-x:hover {
  color: #DF652B;
}
div.signup-popup div.signup-popup-modal .popup-text {
  padding: 2rem 2.5rem 1rem 3rem;
}
div.signup-popup div.signup-popup-modal .popup-text h1 {
  font-size: 1.8rem;
}
div.signup-popup div.signup-popup-modal .popup-text h1 span {
  color: #DF652B;
}
div.signup-popup div.signup-popup-modal .popup-text p {
  font-size: 1.05rem;
  margin-top: 1.5rem;
  font-weight: 400;
}
div.signup-popup div.signup-popup-modal .popup-form {
  display: flex;
  width: 100%;
  height: 200px;
  flex-direction: column;
  padding: 2rem 3rem;
}
div.signup-popup div.signup-popup-modal .popup-form input {
  height: 50px;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid #CACACA;
  transition: border 0.2s;
  color: #3f3f3f;
  font-weight: 500;
}
div.signup-popup div.signup-popup-modal .popup-form input:focus {
  outline: none;
  border: 2px solid #DF652B;
}
div.signup-popup div.signup-popup-modal .popup-form button {
  height: 50px;
  padding: 0.8rem;
  background-color: #DF652B;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: all 0.3s;
}
div.signup-popup div.signup-popup-modal .popup-form button:hover {
  background-color: #a34b21;
}
div.signup-popup div.signup-popup-modal .popup-form .popup-pwd {
  margin: 2rem 0;
}

@media (max-width: 510px) {
  div#signup-popup {
    display: none !important;
  }
}
body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-track {
  background: #3e5461;
}

body::-webkit-scrollbar-thumb {
  background-color: #1a242b;
  border-radius: 6px;
}

@media (max-width: 594px) {
  .second-divider {
    display: none;
  }
}
@media (max-width: 584px) {
  .footer-bottom-divider {
    display: block;
    width: 100% !important;
    height: 1px !important;
  }
  .footer-bottom {
    row-gap: 10px !important;
    flex-direction: column;
    padding: 1rem !important;
  }
}
@media (max-width: 1024px) {
  .footer-columns {
    width: 100% !important;
    margin-top: 30px;
  }
  .footer-columns .footer-column li {
    text-align: center;
  }
  .promote {
    text-align: center;
  }
}
@media (max-width: 590px) {
  .footer-columns {
    justify-content: space-between !important;
  }
}
@media (max-width: 507px) {
  .footer-columns {
    flex-direction: column;
    row-gap: 50px !important;
  }
  .footer-columns .footer-column h2 {
    text-align: left;
  }
  .footer-columns .footer-column li {
    text-align: left;
  }
  .fend {
    display: none;
  }
  .promote {
    text-align: left;
  }
  .main-footer {
    justify-content: flex-start !important;
  }
}
@media (max-width: 1550px) {
  .hero__section .hero__content .hero__text h1 {
    font-size: 2rem;
    margin: 100px 0 50px 0;
    transition: all 0.3s;
  }
  .hero__section .hero__content .hero__text p {
    font-size: 1.2rem;
    transition: all 0.3s;
  }
}
@media (max-width: 1000px) {
  #optionallink1 {
    display: none;
  }
}
@media (max-width: 890px) {
  .nav__links {
    display: none;
  }
  .hero__section .hero__content .hero__text h1 {
    font-size: 1.6rem;
    margin: 100px 0 30px 0;
    transition: all 0.3s;
  }
  .hero__section .hero__content .hero__text p {
    font-size: 1.1rem;
    transition: all 0.3s;
  }
}
@media (max-width: 783px) {
  .hero__section .hero__content .hero__text {
    max-width: 100%;
    text-align: center;
  }
  .hero__img #heroviolin {
    opacity: 0.5;
    transition: all 0.3s;
  }
}
@media (min-width: 500px) {
  #bg-blur {
    opacity: 0;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
}
@media (max-width: 500px) {
  .swiper-btn {
    display: none !important;
  }
}
@media (max-width: 500px) {
  div.mobile-menu {
    display: flex;
  }
  .navbarmain {
    background-color: #1b242b !important;
    position: fixed;
  }
  .navbarmain .user-dropdown {
    display: none;
  }
  .navbarmain #loggedin {
    display: none !important;
  }
  .navbarmain .loginsignup {
    display: none;
  }
  .navbarmain .nav__logo {
    width: 100%;
    transition: all 0.3s;
  }
  .navbarmain .hamburger-icons {
    display: block;
  }
}
@media (max-width: 1440px) {
  .hero__section .hero__img #heroviolin {
    width: 525px;
  }
}
@media (min-width: 1440px) {
  .hero__section .hero__content .hero__text h1 {
    font-size: 2.7rem;
    margin: 100px 0 50px 0;
    transition: all 0.3s;
  }
  .hero__section .hero__content .hero__text p {
    font-size: 1.3rem;
    transition: all 0.3s;
  }
  .hero__section .hero__content .hero__text .hero__btns {
    width: 100%;
    background-color: none;
    display: inline-block;
  }
  .hero__section .hero__content .hero__text .hero__btns button {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border-radius: 7px;
    border: none;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
  }
  .hero__section .hero__content .hero__text .hero__btns #btn1 {
    background: #DF652B;
    margin-top: 40px;
    transition: all 0.5s;
  }
  .hero__section .hero__content .hero__text .hero__btns #btn1:hover {
    background-color: #a34b21;
  }
  .hero__section .hero__content .hero__text .hero__btns #btn2 {
    background: #009687;
    transition: all 1s;
  }
  .hero__section .hero__content .hero__text .hero__btns #btn2:hover {
    background-color: #027468;
  }
}
@media (min-width: 1450px) {
  .stats__section .stats .stat h1 {
    font-size: 2rem;
  }
}
@media (max-width: 1012px) {
  .about__section .about__us__cards {
    flex-direction: column;
    margin-top: 50px;
  }
}
@media (max-width: 1380px) {
  section.help h1 {
    font-size: 1.9rem;
  }
  section.help p {
    font-size: 1.15rem;
  }
  section.help button {
    width: 90%;
  }
}
@media (max-width: 885px) {
  section.help h1 {
    font-size: 1.6rem;
  }
  section.help p {
    font-size: 1rem;
    width: 100%;
  }
  section.help button {
    width: 90%;
  }
}
@media (max-width: 583px) {
  section.help {
    min-height: 20vh;
  }
  section.help h1 {
    display: none;
  }
  section.help #heading2 {
    display: block;
    margin-bottom: 2rem;
    font-size: 1.7rem;
  }
  section.help p {
    font-size: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    display: none;
  }
  section.help #paragraph2 {
    display: block;
    margin-bottom: 2rem;
    font-size: 1.1rem;
  }
  section.help button {
    width: 100%;
    height: 40px;
  }
}
@media (max-width: 1314px) {
  section.browse .swiper .swiper-slide .inner-swipe-content {
    gap: 10%;
  }
}
@media (max-width: 1001px) {
  section.browse .swiper .swiper-slide .inner-swipe-content img.instrument-swipe {
    position: absolute;
    z-index: -500;
    width: 25rem;
    transform: rotate(30deg);
    opacity: 0.5;
    display: none;
  }
}
@media (max-width: 460px) {
  section.browse .swiper .swiper-slide .inner-swipe-content .info-card p {
    font-size: 1rem;
  }
}
@media (max-width: 375px) {
  section.browse .swiper .swiper-slide .inner-swipe-content .info-card h1 {
    font-size: 2.5em;
    margin-top: 5px;
  }
  section.browse .swiper .swiper-slide .inner-swipe-content .info-card div.btns {
    margin-top: 5px;
  }
}
@media (max-width: 375px) {
  section.browse .swiper .swiper-slide .inner-swipe-content .info-card h1 {
    font-size: 2.5em;
    margin-top: 5px;
  }
  section.browse .swiper .swiper-slide .inner-swipe-content .info-card div.btns {
    margin-top: 5px;
  }
  section.browse .swiper .swiper-slide .inner-swipe-content .info-card p {
    margin-top: 1em;
  }
}
@media (max-width: 326px) {
  .info-card h1 {
    font-size: 2.3em !important;
    margin-top: 5px;
  }
  .info-card div.btns {
    margin-top: 5px;
  }
  .info-card p {
    margin-top: 1em;
  }
}
@media (max-width: 1084px) {
  .review-body p {
    font-size: 0.9rem !important;
  }
}
@media (max-width: 330px) {
  .review-body p {
    font-size: 0.7rem !important;
  }
}
@media (max-width: 761px) {
  .review-row {
    flex-direction: column;
    margin-top: 20px !important;
  }
  .review-row .review-card {
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
  #row1 {
    margin-top: 30px !important;
  }
}
@media (max-width: 601px) {
  h1.top-review-header {
    flex-direction: column;
  }
}
@media (max-width: 1305px) {
  section.cta h1 {
    font-size: 2em !important;
  }
}
@media (max-width: 1128px) {
  section.cta {
    gap: 0 !important;
  }
  section.cta div.left {
    margin-right: 25px !important;
  }
  section.cta h1 {
    font-size: 2em !important;
  }
}
@media (max-width: 1074px) {
  section.cta {
    flex-direction: column;
    text-align: center;
  }
  section.cta p {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
  }
}
@media (max-width: 570px) {
  section.cta input {
    width: 100% !important;
  }
  section.cta div.right {
    width: 100% !important;
    position: relative !important;
  }
  section.cta p {
    display: none;
  }
  section.cta h1 {
    font-size: 1.8em !important;
    margin-bottom: 10px;
  }
}
@media (max-width: 510px) {
  div#signup-popup {
    display: none !important;
  }
}
@media (max-height: 801px) {
  .info-card {
    height: 550px !important;
    font-size: 0.86rem !important;
    min-height: 0px !important;
  }
}
@media (max-width: 530px) {
  .chatCenterChat, .cccTitle {
    width: calc(100% - 0px) !important;
  }
  .chatCenter {
    right: 5px;
  }
}/*# sourceMappingURL=landing.css.map */